.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 0;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sticky {
  position: sticky;
  top: 20px;
}

.table-fit {
  width: 1px;
}

.table-container > table {
  white-space: normal;
  overflow-wrap: break-word;
  table-layout: fixed;
}

.sousan > table {
  background-color: lightpink;
}

.lattice > table {
  background-color: lightskyblue;
}

.stream > table {
  background-color: lightgreen;
}
